<footer class="cv-footer">
  <div class="container footer-content">
    <p>Jairo Rodriguez Ortiz - 2026</p>
    <ul class="footer-links">
      <li>
        <a
          href="https://www.linkedin.com/in/jairo-rodríguez-ortiz-548049335"
          target="_blank"
          rel="noopener"
        >LinkedIn</a>
      </li>
      <li>
        <a
          href="https://github.com/jairordtgz"
          target="_blank"
          rel="noopener"
        >GitHub</a>
      </li>
    </ul>
  </div>
</footer>